body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

body div,
html div {
  display: block;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container,
html .container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 16384px;
  height: 16384px;
}

body .quarter,
html .quarter {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 8192px;
  height: 8192px;
}

body .image-container,
html .image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #444;
}

body .image,
html .image {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 2048px;
  height: 2048px;
}

body .blocks-container,
html .blocks-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

body .block,
html .block {
  width: 64px;
  height: 64px;
  position: absolute;
  border: 1px transparent solid;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background 0.2s, border 0.5s ease, opacity 1s;
  transition: background 0.2s, border 0.5s ease, opacity 1s;
  opacity: 0;
}

body .block:hover,
html .block:hover {
  cursor: pointer;
  -webkit-transition: none;
  transition: none;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0.5px rgba(209, 209, 209, 0.4) solid;
  opacity: 1;
}

body #tooltip,
html #tooltip {
  display: none;
  position: fixed;
  width: 133px;
  height: 42px;
  border-radius: 3px;
  background-color: #eee;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 7px;
  padding-left: 12px;
  z-index: 100;
}

body #tooltip .x,
body #tooltip .y,
html #tooltip .x,
html #tooltip .y {
  margin-bottom: 3px;
  letter-spacing: 1px;
}

body #tooltip .x i,
body #tooltip .y i,
html #tooltip .x i,
html #tooltip .y i {
  color: #aaa;
}

.cell {
  box-sizing: border-box;
  border: 1px solid gray;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 0;
}

.gridRow {
  margin: 0;
  height: 64px;
}

.gui_el {
  position: fixed;
  background: white;
  z-index: 1;
  bottom: 0px;
  padding:5px;
}

ul, li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  display: inline-table;
}

nav ul li {
  float: left;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

nav ul li {
  float: left;
  transition: all 0.2s ease-in-out;
}

nav ul li a {
  display: block;
  padding: 30px 20px;
  color: #222;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
  background: #fff;
  height: 75vh;
  overflow-y: auto;
  position: relative;
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
